#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "include\shpoidproc.h" // used to access main window width and height globals
#include "include\resource.h"

MENU_ID_MAIN MENU DISCARDABLE
{
    POPUP "&File"
    {
        MENUITEM "New",                             MENU_FILE_ID_NEW
        MENUITEM "Open",                            MENU_FILE_ID_OPEN
        MENUITEM "Open Recent",                     MENU_FILE_ID_OPEN_RECENT
        MENUITEM SEPARATOR
        MENUITEM "Close",                           MENU_FILE_ID_CLOSE
        MENUITEM "Close All",                       MENU_FILE_ID_CLOSE_ALL
        MENUITEM SEPARATOR
        MENUITEM "Save",                            MENU_FILE_ID_SAVE
        MENUITEM "Save As",                         MENU_FILE_ID_SAVE_AS
        MENUITEM "Save All",                        MENU_FILE_ID_SAVE_ALL
        MENUITEM SEPARATOR
        MENUITEM "Batch Conversion",                MENU_FILE_ID_BATCH_CONVERT
        MENUITEM "Import",                          MENU_FILE_ID_IMPORT
        MENUITEM "Export",                          MENU_FILE_ID_EXPORT
        MENUITEM SEPARATOR
        MENUITEM "Exit",                            MENU_FILE_ID_EXIT
    }

    POPUP "&Edit"
    {
        MENUITEM "Undo",                            MENU_EDIT_ID_UNDO
        MENUITEM "Redo",                            MENU_EDIT_ID_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cut",                             MENU_EDIT_ID_CUT
        MENUITEM "Copy",                            MENU_EDIT_ID_COPY
        MENUITEM "Paste",                           MENU_EDIT_ID_PASTE
        MENUITEM "Clear",                           MENU_EDIT_ID_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "SHP Size",                        MENU_EDIT_ID_SHP_SIZE
        MENUITEM "Canvas Size",                     MENU_EDIT_ID_CANVAS_SIZE

        POPUP "Rotate"
        {
            MENUITEM "180°" ,                       MENU_EDIT_ID_SHP_ROT_180
            MENUITEM "90° CW" ,                     MENU_EDIT_ID_SHP_ROT_90CW
            MENUITEM "90° CCW" ,                    MENU_EDIT_ID_SHP_ROT_90CCW
            MENUITEM "Arbitrary",                   MENU_EDIT_ID_SHP_ROT_ARB
        }

        MENUITEM SEPARATOR
        MENUITEM "Transform",                       MENU_EDIT_ID_TRANSFORM
    }

    POPUP "&Shp"
    {
        MENUITEM "Type",                            MENU_SHP_ID_TYPE
        MENUITEM "AutoSelect Type",                 MENU_SHP_ID_AUTOSELECT_TYPE
        MENUITEM SEPARATOR

        POPUP "Frames"
        {
            MENUITEM "Insert Frame",                MENU_SHP_ID_INSERT_FRAME
            MENUITEM "Delete Frame",                MENU_SHP_ID_DELETE_FRAME
            MENUITEM "Split Frames",                MENU_SHP_ID_SPLIT_FRAMES
        }

        MENUITEM SEPARATOR

        POPUP "Palette"
        {
            MENUITEM "Load Palette",                MENU_SHP_ID_PALETTE_LOAD
            MENUITEM SEPARATOR
            MENUITEM "Change Palette",              MENU_SHP_ID_PALETTE_CHANGE
            MENUITEM SEPARATOR
            MENUITEM "Update Palette List",         MENU_SHP_ID_PALETTE_UPDATE
        }

        MENUITEM SEPARATOR
        MENUITEM "Edit Sequence",                   MENU_SHP_ID_SEQUENCE

        POPUP "Shadows"
        {
            MENUITEM "AutoShadows",                 MENU_SHP_ID_SHADOWS_AUTO
            MENUITEM "Convert Shadows",             MENU_SHP_ID_SHADOWS_CONVERT
            MENUITEM "Fix Shadows",                 MENU_SHP_ID_SHADOWS_FIX
        }

        MENUITEM "Generate Cameo",                  MENU_SHP_ID_GENERATE_CAMEO
    }
    POPUP "&Filter"
    {
        MENUITEM "Settings",                        MENU_FILTER_ID_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "Colour Scheme",                   MENU_FILTER_ID_COLOURSCHEME
        MENUITEM SEPARATOR
        POPUP "Smooth (Conservative)"
        {
            MENUITEM "Conservative Smooth",         MENU_FILTER_ID_SMOOTH_CONSERVATIVE
            MENUITEM "Polygon Mean",                MENU_FILTER_ID_SMOOTH_POLYGON_MEAN
        }

        POPUP "Smooth (Mean)"
        {
            MENUITEM "Mean Minimum",                MENU_FILTER_ID_SMOOTH_MEAN_MIN
            MENUITEM "Mean 3x3",                    MENU_FILTER_ID_SMOOTH_MEAN_3X3
            MENUITEM "Mean 5x5",                    MENU_FILTER_ID_SMOOTH_MEAN_5X5
            MENUITEM "Mean 7x7",                    MENU_FILTER_ID_SMOOTH_MEAN_7X7
            MENUITEM "Mean Squared 3x3",            MENU_FILTER_ID_SMOOTH_MEAN_SQRD_3X3
            MENUITEM "Mean Squared 5x5",            MENU_FILTER_ID_SMOOTH_MEAN_SQRD_5X5
            MENUITEM "Mean Squared 7x7",            MENU_FILTER_ID_SMOOTH_MEAN_SQRD_7X7
        }

        POPUP "Smooth (Median)"
        {
            MENUITEM "Median Minimum",              MENU_FILTER_ID_SMOOTH_MEDIAN_MIN
            MENUITEM "Median 3x3",                  MENU_FILTER_ID_SMOOTH_MEDIAN_3X3
            MENUITEM "Median 5x5",                  MENU_FILTER_ID_SMOOTH_MEDIAN_5X5
            MENUITEM "Median 7x7",                  MENU_FILTER_ID_SMOOTH_MEDIAN_7X7
        }

        POPUP "Sharpen"
        {
            MENUITEM "Unsharp Mask",                MENU_FILTER_ID_SHARPEN_UNSHARP_MASK
            MENUITEM "Sharpen (Weak)",              MENU_FILTER_ID_SHARPEN_WEAK
            MENUITEM "Sharpen (Strong)",            MENU_FILTER_ID_SHARPEN_STRONG
        }

        POPUP "Arithmetics"
        {
            // these seem like odd spellings, once I figure out what they do,
            // I'll rename them to something more appropriate
            MENUITEM "Exponentialize",              MENU_FILTER_ID_ARITHMETICS_EXP
            MENUITEM "Logarithmize",                MENU_FILTER_ID_ARITHMETICS_LOG
            MENUITEM "Logarithm Lightening",        MENU_FILTER_ID_ARITHMETICS_LOG_LIGHT
            MENUITEM "Logarithm Darkening",         MENU_FILTER_ID_ARITHMETICS_LOG_DARK
        }

        POPUP "Texturize"
        {
            MENUITEM "Texturize (Basic)",           MENU_FILTER_ID_TEXTURIZE_BASIC
            MENUITEM "Texturize (Iced)",            MENU_FILTER_ID_TEXTURIZE_ICED
            MENUITEM "Texturize (White)",           MENU_FILTER_ID_TEXTURIZE_WHITE
            MENUITEM "Petroglyph (Sobel)",          MENU_FILTER_ID_TEXTURIZE_PETRO
            MENUITEM "Stonify (Prewitt)",           MENU_FILTER_ID_TEXTURIZE_STONIFY
            MENUITEM "Rock It",                     MENU_FILTER_ID_TEXTURIZE_ROCK
        }

        POPUP "3D"
        {
            MENUITEM "Buttonize (Weak)",            MENU_FILTER_ID_3D_BUTTONIZE_WEAK
            MENUITEM "Buttonize (Strong)",          MENU_FILTER_ID_3D_BUTTONIZE_STRONG
            MENUITEM "Buttonize (Very Strong)",     MENU_FILTER_3D_BUTTONIZE_VERYSTRONG
        }

        MENUITEM SEPARATOR

        POPUP "Other"
        {
            MENUITEM "Mess It Up",                  MENU_FILTER_ID_OTHER_MESS
            MENUITEM "Square Depth",                MENU_FILTER_ID_OTHER_SQUARE_DEPTH
            MENUITEM "X-Depth",                     MENU_FILTER_ID_OTHER_XDEPTH
            MENUITEM "Uber Noise",                  MENU_FILTER_ID_OTHER_UBER
            MENUITEM "UnFocus",                     MENU_FILTER_ID_OTHER_UNFOCUS
            MENUITEM "Underline",                   MENU_FILTER_ID_OTHER_UNDERLINE
        }
    }

    POPUP "&View"
    {
        MENUITEM "Zoom In",                         MENU_VIEW_ID_ZOOM_IN
        MENUITEM "Zoom Out",                        MENU_VIEW_ID_ZOOM_OUT
        MENUITEM SEPARATOR
        MENUITEM "Preview",                         MENU_VIEW_ID_PREVIEW
        MENUITEM SEPARATOR
        MENUITEM "Show Center",                     MENU_VIEW_ID_SHOW_CENTER
        MENUITEM "Show Grid",                       MENU_VIEW_ID_SHOW_GRID
    }

    POPUP "&Options"
    {
        MENUITEM "Preferences",                     MENU_OPTIONS_ID_PREFERENCES
    }

    POPUP "&Help"
    {
        MENUITEM "Help",                            MENU_HELP_ID_HELP
        MENUITEM "Report Bug",                      MENU_HELP_ID_REPORT_BUG
        MENUITEM "About",                           MENU_HELP_ID_ABOUT
    }
}

// MAIN TOOLBAR --------------------------------------------------------------------------------------------------------

TOOLBAR_ID_NEW                      BITMAP          "rc\\newfile.bmp"
TOOLBAR_ID_OPEN                     BITMAP          "rc\\openfile.bmp"
TOOLBAR_ID_SAVE                     BITMAP          "rc\\savefile.bmp"
TOOLBAR_ID_CROSSHAIR                BITMAP          "rc\\crosshair.bmp"
TOOLBAR_ID_GRID                     BITMAP          "rc\\grid.bmp"
TOOLBAR_ID_PREVIOUS_FRAME           BITMAP          "rc\\prevframe.bmp"
TOOLBAR_ID_NEXT_FRAME               BITMAP          "rc\\nextframe.bmp"
TOOLBAR_ID_ZOOM_IN                  BITMAP          "rc\\zoomin.bmp"
TOOLBAR_ID_ZOOM_OUT                 BITMAP          "rc\\zoomout.bmp"

// DIALOG BOXES --------------------------------------------------------------------------------------------------------

IDD_ABOUT DIALOG DISCARDABLE 0, 0, 285, 75
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Ok", IDOK, 225,10,50,14
    LTEXT "SHPoid",                 IDD_ABOUT_TEXT_TITLE,                    50,  10, 140,  40
    LTEXT "Version: 0.001",         IDD_ABOUT_TEXT_VERSION,                  50,  20, 150,  20

    LTEXT
        "Created By: Sam Keightley - Mortecha",
        IDD_ABOUT_TEXT_AUTHOR,
        50, 45, 150, 20
END

IDD_BATCH DIALOG DISCARDABLE 0,0,440,270
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Batch Conversion"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_CANVASRESIZE DIALOGEX DISCARDABLE 0, 0, 260, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Resize Canvas"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Ok",            IDOK,                                   200,  10,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               200,  29,  50,  14
    GROUPBOX "Current Size",        IDD_CANVASRESIZE_CROUPBOX_CUR,           10,   6, 180,  50
    LTEXT " Width:",                IDD_CANVASRESIZE_TEXT_CUR_WIDTH,         61,  20,  50,  10
    LTEXT "Length:",                IDD_CANVASRESIZE_TEXT_CUR_LENGTH,        60,  35,  50,  10
    LTEXT "xxx pixels",             IDD_CANVASRESIZE_TEXT_CUR_WIDTH_VAL,     90,  20,  50,  10
    LTEXT "xxx pixels",             IDD_CANVASRESIZE_TEXT_CUR_LENGTH_VAL,    90,  35,  50,  10
    GROUPBOX "New Size",            IDD_CANVASRESIZE_CROUPBOX_NEW,           10,  62, 180,  50
    LTEXT " Width:",                IDD_CANVASRESIZE_TEXT_NEW_WIDTH,         61,  77, 100,  10
    EDITTEXT                        IDD_CANVASRESIZE_EDITTEXT_NEW_WIDTH,     90,  76,  25,  10
    LTEXT "pixels",                 IDD_CANVASRESIZE_TEXT_NEW_WIDTH_UNIT,   120,  77,  50,  10
    LTEXT "Length:",                IDD_CANVASRESIZE_TEXT_NEW_LENGTH,        60,  92, 100,  10
    EDITTEXT                        IDD_CANVASRESIZE_EDITTEXT_NEW_LENGTH,    90,  91,  25,  10
    LTEXT "pixels",                 IDD_CANVASRESIZE_TEXT_NEW_LENGTH_UNIT,  120,  92,  50,  10
END

IDD_CHANGEPALETTE DIALOGEX DISCARDABLE 0, 0, 260, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Change Palette"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Ok",            IDOK,                                   200,  10,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               200,  29,  50,  14
    GROUPBOX "Current Palette",     IDD_CHANGEPALETTE_GROUPBOX_CUR,          10,   6, 180,  50
    LTEXT "   Game:",               IDD_CHANGEPALETTE_TEXT_CUR_GAME,         58,  20, 100,  10
    LTEXT "Palette:",               IDD_CHANGEPALETTE_TEXT_CUR_PALETTE,      60,  35, 100,  10
    LTEXT "___",                    IDD_CHANGEPALETTE_TEXT_CUR_GAME_VAL,     90,  20,  50,  10
    LTEXT "___",                    IDD_CHANGEPALETTE_TEXT_CUR_PALETTE_VAL,  90,  35,  50,  10
    GROUPBOX "New Palette",         IDD_CHANGEPALETTE_GROUPBOX_NEW,          10,  62, 180,  50
    LTEXT "   Game:",               IDD_CHANGEPALETTE_TEXT_NEW_GAME,         58,  77,  50,  10
    LTEXT "Palette:",               IDD_CHANGEPALETTE_TEXT_NEW_PALETTE,      60,  92,  50,  10
    COMBOBOX                        IDD_CHANGEPALETTE_COMBOBOX_GAME,         90,  75,  75,  10,     CBS_DROPDOWNLIST
    COMBOBOX                        IDD_CHANGEPALETTE_COMBOBOX_PALETTE,      90,  91,  75,  10,     CBS_DROPDOWNLIST
END

IDD_COLOURSCHEME DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Colour Scheme"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_EDITSEQUENCE DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sequence Editor"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_EXPORT DIALOGEX DISCARDABLE 0, 0, 260, 178
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Export"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Export",        IDD_EXPORT_BUTTON_EXPORT,               200,  10,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               200,  29,  50,  14
    GROUPBOX "Export As",           IDD_EXPORT_GROUPBOX_EXPORTAS,            10,   6, 180,  50
    RADIOBUTTON "Images",           IDD_EXPORT_RADIOBUTTON_IMAGES,           70,  21,  50,  10
    RADIOBUTTON "Spritesheet",      IDD_EXPORT_RADIOBUTTON_SPRITESHEET,      70,  36,  50,  10
    CHECKBOX "Specify frame range", IDD_EXPORT_CHECKBOX_FRAMERANGE,          10,  60, 100,  10
    GROUPBOX "Frame Range",         IDD_EXPORT_GROUPBOX_EXPORTFRAMES,        10,  72, 180,  50
    LTEXT "From frame:",            IDD_EXPORT_TEXT_FROMFRAME,               70,  86,  50,  10
    EDITTEXT                        IDD_EXPORT_EDITTEXT_FROMFRAME,          110,  86,  30,  10
    LTEXT "To frame:",              IDD_EXPORT_TEXT_TOFRAME,                 70, 101,  50,  10
    EDITTEXT                        IDD_EXPORT_EDITTEXT_TOFRAME,            110, 101,  30,  10
    GROUPBOX "Output Path",         IDD_EXPORT_GROUPBOX_EXPORTPATH,          10, 128, 180,  40
    EDITTEXT                        IDD_EXPORT_EDITTEXT_EXPORTPATH,          20, 145, 110,  10
    PUSHBUTTON "Browse",            IDD_EXPORT_PUSHBUTTON_BROWSE,           140, 143,  40,  14
END

IDD_FILTERSETTINGS DIALOG DISCARDABLE 0, 0, 260, 288
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Filter Settings"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Ok",            IDOK,                                   200,  10,  50,  14
    PUSHBUTTON "Default",           IDD_FILTERSETTINGS_BUTTON_DEFAULT,      200,  29,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               200,  48,  50,  14
    GROUPBOX "Frame Range",         IDD_FILTERSETTINGS_GROUPBOX_RANGE,       10,   6, 180,  50
    LTEXT "Current:",               IDD_FILTERSETTINGS_TEXT_CURRENT,         20,  16, 180,  10
    GROUPBOX "Frame Region",        IDD_FILTERSETTINGS_GROUPBOX_REGION,      10,  62, 180,  50
    GROUPBOX "Background",          IDD_FILTERSETTINGS_GROUPBOX_BG,          10, 118, 180,  50
    GROUPBOX "Colour Settings",     IDD_FILTERSETTINGS_GROUPBOX_COL,         10, 174, 180,  50
    GROUPBOX "Peak Colour Control", IDD_FILTERSETTINGS_GROUPBOX_CON,         10, 230, 180,  50
END

IDD_GENERATECAMEO DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Generate Cameo"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_IMPORT DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Import"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_NEW DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "New"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_PREFERENCES DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Preferences"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_PREVIEW DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Preview"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_REPORTBUG DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Report Bug"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_ROTATEARB DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Rotate Arbitrary"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_SHPRESIZE DIALOGEX DISCARDABLE 0, 0, 260, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Resize Shp"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&Ok",            IDOK,                                   200,  10,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               200,  29,  50,  14
    GROUPBOX "Current Size",        IDD_SHPRESIZE_CROUPBOX_CUR,              10,   6, 180,  50
    LTEXT " Width:",                IDD_SHPRESIZE_TEXT_CUR_WIDTH,            61,  20,  50,  10
    LTEXT "Length:",                IDD_SHPRESIZE_TEXT_CUR_LENGTH,           60,  35,  50,  10
    LTEXT "xxx pixels",             IDD_SHPRESIZE_TEXT_CUR_WIDTH_VAL,        90,  20,  50,  10
    LTEXT "xxx pixels",             IDD_SHPRESIZE_TEXT_CUR_LENGTH_VAL,       90,  35,  50,  10
    GROUPBOX "New Size",            IDD_SHPRESIZE_CROUPBOX_NEW,              10,  62, 180,  50
    LTEXT " Width:",                IDD_SHPRESIZE_TEXT_NEW_WIDTH,            61,  77, 100,  10
    EDITTEXT                        IDD_SHPRESIZE_EDITTEXT_NEW_WIDTH,        90,  76,  25,  10
    LTEXT "pixels",                 IDD_SHPRESIZE_TEXT_NEW_WIDTH_UNIT,      120,  77,  50,  10
    LTEXT "Length:",                IDD_SHPRESIZE_TEXT_NEW_LENGTH,           60,  92, 100,  10
    EDITTEXT                        IDD_SHPRESIZE_EDITTEXT_NEW_LENGTH,       90,  91,  25,  10
    LTEXT "pixels",                 IDD_SHPRESIZE_TEXT_NEW_LENGTH_UNIT,     120,  92,  50,  10
END

IDD_SHPTYPE DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Shp Type"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_TRANSFORM DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Transform"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END

IDD_UPDATEPALETTE DIALOG DISCARDABLE 0,0,239,66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Update Palette"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON "&ok",            IDOK,                                   174,  18,  50,  14
    PUSHBUTTON "&Cancel",           IDCANCEL,                               174,  18,  50,  14
END




