#include "resource.h"

MainMenu MENU DISCARDABLE
{
    POPUP "&File"
    {
        MENUITEM "New", MENU_FILE_ID_NEW
        MENUITEM "Open", MENU_FILE_ID_OPEN
        MENUITEM "Open Recent", MENU_FILE_ID_OPEN_RECENT
        MENUITEM SEPARATOR
        MENUITEM "Close", MENU_FILE_ID_CLOSE
        MENUITEM "Close All", MENU_FILE_ID_CLOSE_ALL
        MENUITEM SEPARATOR
        MENUITEM "Save", MENU_FILE_ID_SAVE
        MENUITEM "Save As", MENU_FILE_ID_SAVE_AS
        MENUITEM "Save All", MENU_FILE_ID_SAVE_ALL
        MENUITEM SEPARATOR
        MENUITEM "Batch Conversion", MENU_FILE_ID_BATCH_CONVERT

        // "Import" will revert back to a MENUITEM at a later stage
        // and current menu items will be contained within it
        // the modal will have functionality to browse for a specific file
        // and also determine how best to proceed based upon the format of
        // the specific file in question
        POPUP "Import"
        {
            MENUITEM "Image -> SHP", MENU_FILE_ID_IMPORT_IMAGE_TO_SHP
        }

        // "Export" will revert back to a MENUITEM at a later stage
        // and current menu items will be contained within it
        // the modal will have functionality to browse for a specific location
        // to export too and also determine how best to proceed based upon a specific option
        // selected by the user
        POPUP "Export"
        {
            MENUITEM "Frame -> Image", MENU_FILE_ID_EXPORT_FRAME_TO_IMAGE
            MENUITEM "Frames -> Images", MENU_FILE_ID_EXPORT_FRAMES_TO_IMAGES
            MENUITEM "SHP -> Images", MENU_FILE_ID_EXPORT_SHP_TO_IMAGES
            MENUITEM "SHP -> Sprite Sheet", MENU_FILE_ID_EXPORT_SHP_TO_SPRITESHEET
        }

        MENUITEM SEPARATOR
        MENUITEM "Exit", MENU_FILE_ID_EXIT
    }

    POPUP "&Edit"
    {
        MENUITEM "Undo", MENU_EDIT_ID_UNDO
        MENUITEM "Redo", MENU_EDIT_ID_REDO
        MENUITEM SEPARATOR
        MENUITEM "Cut", MENU_EDIT_ID_CUT
        MENUITEM "Copy", MENU_EDIT_ID_COPY
        MENUITEM "Paste", MENU_EDIT_ID_PASTE
        MENUITEM "Clear", MENU_EDIT_ID_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "SHP Size",MENU_EDIT_ID_SHP_SIZE
        MENUITEM "Canvas Size",MENU_EDIT_ID_CANVAS_SIZE

        POPUP "SHP Rotation"
        {
            MENUITEM "180°" ,MENU_EDIT_ID_SHP_ROTATION_180
            MENUITEM "90° CW" ,MENU_EDIT_ID_SHP_ROTATION_90CW
            MENUITEM "90° CCW" ,MENU_EDIT_ID_SHP_ROTATION_90CCW
            MENUITEM "Arbitrary",MENU_EDIT_ID_SHP_ROTATION_ARBITRARY
        }

        MENUITEM SEPARATOR
        MENUITEM "Transform", MENU_EDIT_ID_TRANSFORM
    }

    POPUP "&Shp"
    {
        MENUITEM "Type", MENU_SHP_ID_TYPE
        MENUITEM "AutoSelect Type", MENU_SHP_ID_AUTOSELECT_TYPE
        MENUITEM SEPARATOR

        POPUP "Frames"
        {
            MENUITEM "Insert Frame", MENU_SHP_ID_INSERT_FRAME
            MENUITEM "Delete Frame", MENU_SHP_ID_DELETE_FRAME
            MENUITEM "Split Frames", MENU_SHP_ID_SPLIT_FRAMES
        }

        MENUITEM SEPARATOR

        // all Palette functionality will eventually be contained within a modal
        POPUP "Palette"
        {
            MENUITEM "Load Palette", MENU_SHP_ID_PALETTE_LOAD
            MENUITEM SEPARATOR
            MENUITEM "Custom", MENU_SHP_ID_PALETTE_CUSTOM
            MENUITEM "Tiberian Dawn", MENU_SHP_ID_PALETTE_TIBERIAN_DAWN
            MENUITEM "Red Alert", MENU_SHP_ID_PALETTE_RED_ALERT
            MENUITEM "Tiberian Sun", MENU_SHP_ID_PALETTE_TIBERIAN_SUN
            MENUITEM "Red Alert 2", MENU_SHP_ID_PALETTE_RED_ALERT_2
            MENUITEM "Yuri's Revenge", MENU_SHP_ID_PALETTE_YURI
            MENUITEM SEPARATOR
            MENUITEM "Update Palette List", MENU_SHP_ID_PALETTE_UPDATE
        }

        POPUP "Colour Scheme"
        {
            // settings functionality will be contained inside a modal
            MENUITEM "Settings", MENU_SHP_ID_COLOURSCHEME_SETTINGS
            MENUITEM SEPARATOR
            MENUITEM "Apply Colour Scheme", MENU_SHP_ID_COLOURSCHEME_APPLY
            MENUITEM SEPARATOR
            MENUITEM "Update Colour Scheme List", MENU_SHP_ID_COLOURSCHEME_UPDATE
        }

        MENUITEM SEPARATOR
        MENUITEM "Sequence", MENU_SHP_ID_SEQUENCE

        POPUP "Shadows"
        {
            MENUITEM "AutoShadows", MENU_SHP_ID_SHADOWS_AUTO
            // creates modal that allows the user to select the appropriate shadow to convert too
            MENUITEM "Convert Shadows", MENU_SHP_ID_SHADOWS_CONVERT
            MENUITEM "Fix Shadows", MENU_SHP_ID_SHADOWS_FIX
        }

        MENUITEM "Generate Cameo", MENU_SHP_ID_GENERATE_CAMEO
    }
    POPUP "&Filter"
    {
        MENUITEM "Settings", MENU_FILTER_ID_SETTINGS
        MENUITEM SEPARATOR

        POPUP "Smooth (Conservative)"
        {
            MENUITEM "Conservative Smooth", MENU_FILTER_ID_SMOOTH_CONSERVATIVE
            MENUITEM "Polygon Mean", MENU_FILTER_ID_SMOOTH_POLYGON_MEAN
        }

        POPUP "Smooth (Mean)"
        {
            MENUITEM "Mean Minimum", MENU_FILTER_ID_SMOOTH_MEAN_MINIMUM
            MENUITEM "Mean 3x3", MENU_FILTER_ID_SMOOTH_MEAN_3X3
            MENUITEM "Mean 5x5", MENU_FILTER_ID_SMOOTH_MEAN_5X5
            MENUITEM "Mean 7x7", MENU_FILTER_ID_SMOOTH_MEAN_7X7
            MENUITEM "Mean Squared 3x3", MENU_FILTER_ID_SMOOTH_MEAN_SQUARED_3X3
            MENUITEM "Mean Squared 5x5", MENU_FILTER_ID_SMOOTH_MEAN_SQUARED_5X5
            MENUITEM "Mean Squared 7x7", MENU_FILTER_ID_SMOOTH_MEAN_SQUARED_7X7
        }

        POPUP "Smooth (Median)"
        {
            MENUITEM "Median Minimum", MENU_FILTER_ID_SMOOTH_MEDIAN_MINIMUM
            MENUITEM "Median 3x3", MENU_FILTER_ID_SMOOTH_MEDIAN_3X3
            MENUITEM "Median 5x5", MENU_FILTER_ID_SMOOTH_MEDIAN_5X5
            MENUITEM "Median 7x7", MENU_FILTER_ID_SMOOTH_MEDIAN_7X7
        }

        POPUP "Sharpen"
        {
            MENUITEM "Unsharp Mask", MENU_FILTER_ID_SHARPEN_UNSHARP_MASK
            MENUITEM "Sharpen (Weak)", MENU_FILTER_ID_SHARPEN_WEAK
            MENUITEM "Sharpen (Strong)", MENU_FILTER_ID_SHARPEN_STRONG
        }

        POPUP "Arithmetics"
        {
            // these seem like odd spellings, once I figure out what they do,
            // I'll rename them to something more appropriate
            MENUITEM "Exponentialize", MENU_FILTER_ID_ARITHMETICS_EXP
            MENUITEM "Logarithmize", MENU_FILTER_ID_ARITHMETICS_LOG
            MENUITEM "Logarithm Lightening", MENU_FILTER_ID_ARITHMETICS_LOG_LIGHT
            MENUITEM "Logarithm Darkening", MENU_FILTER_ID_ARITHMETICS_LOG_DARK
        }

        POPUP "Texturize"
        {
            MENUITEM "Texturize (Basic)", MENU_FILTER_ID_TEXTURIZE_BASIC
            MENUITEM "Texturize (Iced)", MENU_FILTER_ID_TEXTURIZE_ICED
            MENUITEM "Texturize (White)", MENU_FILTER_ID_TEXTURIZE_WHITE
            MENUITEM "Petroglyph (Sobel)", MENU_FILTER_ID_TEXTURIZE_PETRO
            MENUITEM "Stonify (Prewitt)", MENU_FILTER_ID_TEXTURIZE_STONIFY
            MENUITEM "Rock It", MENU_FILTER_ID_TEXTURIZE_ROCK
        }

        POPUP "3D"
        {
            MENUITEM "Buttonize (Weak)", MENU_FILTER_ID_3D_BUTTONIZE_WEAK
            MENUITEM "Buttonize (Strong)", MENU_FILTER_ID_3D_BUTTONIZE_STRONG
            MENUITEM "Buttonize (Very Strong)", MENU_FILTER_3D_BUTTONIZE_VERYSTRONG
        }

        MENUITEM SEPARATOR

        POPUP "Other"
        {
            MENUITEM "Mess It Up", MENU_FILTER_ID_OTHER_MESS
            MENUITEM "Square Depth", MENU_FILTER_ID_OTHER_SQUARE_DEPTH
            MENUITEM "X-Depth", MENU_FILTER_ID_OTHER_XDEPTH
            MENUITEM "Uber Noise", MENU_FILTER_ID_OTHER_UBER
            MENUITEM "UnFocus", MENU_FILTER_ID_OTHER_UNFOCUS
            MENUITEM "Underline", MENU_FILTER_ID_OTHER_UNDERLINE
        }
    }

    POPUP "&View"
    {
        MENUITEM "Zoom In", MENU_VIEW_ID_ZOOM_IN
        MENUITEM "Zoom Out", MENU_VIEW_ID_ZOOM_OUT
        MENUITEM SEPARATOR
        MENUITEM "Preview", MENU_VIEW_ID_PREVIEW
        MENUITEM "Show Center", MENU_VIEW_ID_SHOW_CENTER
    }

    POPUP "&Options"
    {
        MENUITEM "Preferences", MENU_OPTIONS_ID_PREFERENCES
    }
    POPUP "&Help"

    {
        MENUITEM "Help", MENU_HELP_ID_HELP
        MENUITEM "Report Bug", MENU_HELP_ID_REPORT_BUG
        MENUITEM "About", MENU_HELP_ID_ABOUT
    }
}

//TOOLBAR_ID_NEW                  ICON        ".ico"
//TOOLBAR_ID_OPEN                 ICON        ".ico"
//TOOLBAR_ID_SAVE                 ICON        ".ico"
//TOOLBAR_ID_CROSSHAIR            ICON        ".ico"
//TOOLBAR_ID_GRID                 ICON        ".ico"
//TOOLBAR_ID_PREVIOUS_FRAME       ICON        ".ico"
//TOOLBAR_ID_NEXT_FRAME           ICON        ".ico"

// this is an alternative way to set up button resources
MainToolbar TOOLBAR DISCARDABLE 16, 16
{
    BUTTON TOOLBAR_ID_NEW
    BUTTON TOOLBAR_ID_OPEN
    BUTTON TOOLBAR_ID_SAVE
    SEPARATOR
    BUTTON TOOLBAR_ID_CROSSHAIR
    BUTTON TOOLBAR_ID_GRID
    SEPARATOR
    BUTTON TOOLBAR_ID_PREVIOUS_FRAME
    BUTTON TOOLBAR_ID_NEXT_FRAME
}




